@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* —----------------------------------— */
::-webkit-scrollbar {
  width: 0;
}

[class*="__container"] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

[class*="__ibg"] {
  position: relative;
}

[class*="__ibg"] img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  color: #fff;
  background-color: #1a1a1a;
  font-family: sans-serif;
}

.main {
  padding: 0px 0px 150px 0px;
}

/* ----------------------------- */
.wrapper__header {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  padding: 31px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 208px;
          flex: 0 1 208px;
  max-height: 24px;
  position: relative;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.header__logo img {
  position: absolute;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 100%;
  bottom: 10%;
  left: 0;
}

.header__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 303px;
          flex: 0 1 303px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 639.98px) {
  .header__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px;
  }
}

@media (max-width: 469.98px) {
  .header__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .header__items *:not(:first-child) {
    display: none;
  }
}

.header__item {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header__item a {
  display: inline-block;
  padding: 7px 4px;
}

.header__item:hover {
  color: #34c759;
}

.main__how-it {
  margin: -240px 0px 30px 0px;
}

.main__dish-day:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.preview {
  padding: 170px 0px 400px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.0001)), to(#1a1a1a)), -webkit-gradient(linear, left bottom, left top, from(rgba(33, 33, 33, 0.5)), to(rgba(33, 33, 33, 0.5))), url(.jpg), url("../img/header/placeholder.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.0001) 0%, #1a1a1a 100%), -webkit-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(.jpg), url("../img/header/placeholder.jpg") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(26, 26, 26, 0.0001) 0%, #1a1a1a 100%), -o-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(.jpg), url("../img/header/placeholder.jpg") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1a1a1a 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(.jpg), url("../img/header/placeholder.jpg") center/cover no-repeat;
  border-radius: 6px;
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__title {
  font-size: 72px;
  line-height: 1.16666;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
}

.preview__title span {
  font-weight: 700;
}

.preview__title:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

@media (max-width: 919.98px) {
  .preview__title {
    max-width: 794px;
  }
}

@media (max-width: 634.98px) {
  .preview__title {
    font-size: 56px;
    max-width: 590px;
  }
}

@media (max-width: 619.98px) {
  .preview__title {
    max-width: 545px;
  }
}

@media (max-width: 499.98px) {
  .preview__title {
    font-size: 34px;
  }
  .preview__title:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}

.preview__subtitle {
  max-width: 515px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  opacity: 0.7;
}

.preview__subtitle:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 634.98px) {
  .preview__subtitle {
    max-width: 440px;
  }
}

@media (max-width: 499.98px) {
  .preview__subtitle {
    font-size: 14px;
    max-width: 380px;
  }
}

.preview__button {
  color: #1a1a1a;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222;
  text-align: center;
  letter-spacing: 0.2em;
  background: #34c759;
  border-radius: 43px;
  padding: 25px 57px;
}

.preview__button:not(:last-child) {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 499.98px) {
  .preview__button {
    padding: 20px 43px;
  }
}

.info {
  max-width: 915px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.333% - 15px);
          flex: 1 0 calc(33.333% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px 0px 0px;
}

@media (max-width: 634.98px) {
  .info__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 15px);
            flex: 1 1 calc(50% - 15px);
  }
}

@media (max-width: 454.98px) {
  .info__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.info__icon {
  max-height: 20px;
}

.info__icon img {
  height: 100%;
  max-width: 100%;
}

.info__icon:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.info__title {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
}

.info__subtitle {
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  text-transform: capitalize;
}

.how-it__head:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.head {
  padding: 90px 0px 60px 0px;
  position: relative;
}

.head__bacground {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.16em;
  color: #303030;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-49%, -38%) matrix(0.8, 0, 0, 1, 0, 0);
      -ms-transform: translate(-49%, -38%) matrix(0.8, 0, 0, 1, 0, 0);
          transform: translate(-49%, -38%) matrix(0.8, 0, 0, 1, 0, 0);
  z-index: 1;
}

@media (max-width: 389.98px) {
  .head__bacground {
    font-size: 80px;
  }
}

.head__content {
  font-size: 36px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.head__content::after {
  content: "";
  position: absolute;
  background-color: #34c759;
  max-width: 60px;
  width: 100%;
  height: 2px;
  bottom: -28px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 389.98px) {
  .head__content {
    font-size: 28px;
  }
}

.text-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-cards__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 15px;
}

@media (max-width: 849.98px) {
  .text-cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.text-cards__content {
  padding: 24px;
  height: 100%;
  background-color: #252525;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
}

.text-cards__content:hover {
  background-color: #34c759;
}

.text-cards__content:hover * {
  color: #191919;
}

.text-cards__content:hover .items__title::after {
  background-color: #191919;
}

.text-cards__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
  position: relative;
}

.text-cards__title:not(:last-child) {
  margin: 0px 0px 36px 0px;
}

.text-cards__title::after {
  content: "";
  position: absolute;
  background-color: #34c759;
  max-width: 56px;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
}

.text-cards__text {
  min-height: 90px;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dish-day__head:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.dish-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dish-cards__card {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 20px);
          flex: 0 1 calc(33.333% - 20px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (max-width: 979.98px) {
  .dish-cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 15px);
            flex: 0 1 calc(50% - 15px);
  }
}

@media (max-width: 629.98px) {
  .dish-cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.dish-cards__link {
  position: absolute;
  top: 6.857%;
  right: 6.857%;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url("../img/dish-day/ic_share2.svg") center/20px no-repeat;
}

.dish-cards__ibg {
  padding: 260px 0px 0px 0px;
}

.dish-cards__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 30px 0px 30px;
}

.dish-cards__content:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.dish-cards__title {
  font-size: 32px;
  line-height: 0.94;
  color: #d9d9d9;
  text-transform: capitalize;
}

.dish-cards__subtitle {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.dish-cards__subtitle:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.dish-cards__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: #85878c;
}

.dish-cards__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.dish-cards__interaction {
  padding: 0px 24px 24px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.dish-cards__rating {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 155px;
          flex: 0 1 155px;
  height: 100%;
  max-height: 40px;
  background: url("../img/dish-day/stars.svg") 0% 76%/100% auto no-repeat;
}

.dish-cards__button {
  font-weight: 900;
  font-size: 10px;
  line-height: 4;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
}

.dish-cards__button:hover {
  background: #34c759;
  color: #252525;
}

.card-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-recipes__main-card {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 15px);
          flex: 0 1 calc(50% - 15px);
  background: url("../img/recipes/placeholder.jpg") 0 0/cover no-repeat;
  padding: 5.41% 8.109%;
}

@media (max-width: 759.98px) {
  .card-recipes__main-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.card-recipes__link {
  position: absolute;
  top: 5.555%;
  right: 5.555%;
  padding: 3.704% 3.704%;
  background: rgba(0, 0, 0, 0.3) url("../img/recipes/Icon.svg") center/auto no-repeat;
  border-radius: 50%;
}

.card-recipes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.card-recipes__content:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.card-recipes__tag {
  padding: 0 16px;
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.card-recipes__tag:not(:last-child) {
  margin: 0px 0px 65px 0px;
}

.card-recipes__data {
  font-size: 14px;
  line-height: 2.14;
}

.card-recipes__data:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.card-recipes__text {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
}

.card-recipes__text:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.card-recipes__author {
  font-size: 14px;
  line-height: 2.14;
}

.card-recipes__statistic {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.card-recipes__visibility {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
  background: url("../img/recipes/visibility.svg") 0 0/100% auto no-repeat;
}

.card-recipes__comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54px;
          flex: 0 1 54px;
  background: url("../img/recipes/comments.svg") 0 0/100% auto no-repeat;
}

.items-recipes {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 15px);
          flex: 1 1 calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-recipes__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5.555%;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.items-recipes__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  line-height: 1.87;
}

.items-recipes__text:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.items-recipes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.items-recipes__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-recipes__teg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 6px;
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@media (max-width: 384.98px) {
  .items-recipes__teg {
    font-size: 8px;
  }
}

.items-recipes__date {
  font-size: 12px;
  line-height: 2.08;
  color: #b3b3b3;
}

@media (max-width: 384.98px) {
  .items-recipes__date {
    font-size: 10px;
  }
}

.items-recipes__statistic {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 140px;
          flex: 0 1 140px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 384.98px) {
  .items-recipes__statistic {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34%;
            flex: 0 1 34%;
  }
}

.items-recipes__visibility {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
  background: url("../img/recipes/visibility.svg") center/100% auto no-repeat;
}

.items-recipes__comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54px;
          flex: 0 1 54px;
  background: url("../img/recipes/comments.svg") center/100% auto no-repeat;
}
